<%= content_for :title, 'Mode d\'emploi' %>

<h2 class="h4">WordPress</h2>
<div class="row">
  <div class="col-lg-7">
    <p>
      Nous proposons une extension (plugin) permettant de sortir les données de WordPress et de les importer simplement dans Oudopo.<br>
    </p>
  </div>
  <div class="offset-lg-1 col-lg-4">
    <a href="https://github.com/noesya/wordpress-oudopo" target="_blank">Code source sur Github</a><br>
    <a href="https://github.com/noesya/wordpress-oudopo/blob/main/LICENSE" target="_blank">Licence GPL</a>
  </div>
</div>