<%= content_for :title, 'Sortir de WordPress' %>

<p>
  Nous proposons une extension (plugin) permettant de sortir les données de WordPress et de les importer simplement dans Oudopo.<br>
  <a href="https://github.com/noesya/wordpress-oudopo" target="_blank">Code source sur Github</a><br>
  <a href="https://github.com/noesya/wordpress-oudopo/blob/main/LICENSE" target="_blank">Licence GPL</a>
</p>
