<%= content_for :title, 'Sortir de WordPress' %>

<h2>Extension wordPress</h2>

<a href="https://github.com/noesya/wordpress-oudopo" target="_blank">Code source sur Github</a>
<a href="https://github.com/noesya/wordpress-oudopo/blob/main/LICENSE" target="_blank">Licence MIT</a>