<%= content_for :title, 'Archives' %>

<table class="table">
  <thead>
    <tr>
      <th>Archive</th>
      <th>Organisation</th>
    </tr>
  </thead>
  <tbody>
    <% @archives.each do |archive| %>
      <tr>
        <td><%= link_to archive, direct_archive_path(organisation_slug: archive.organisation.slug, archive_slug: archive.slug) %></td>
        <td><%= link_to archive.organisation, direct_organisation_path(archive.organisation) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Créer", new_archive_path, class: 'btn btn-primary' if can? :create, Archive %>
