<%= content_for :title, @archive %>

<div class="row">
  <div class="col-lg-6">
    <label class="form-label">Clé d'accès</label>
    <input class="form-control" value="<%= @archive.id %>" disabled />
  </div>
  <div class="col-lg-6">
    <label class="form-label">Code secret</label>
    <input class="form-control" value="<%= @archive.secret %>" disabled />
  </div>
</div>
