<footer class="pt-5 my-5 text-body-secondary border-top">
  <a href="https://www.noesya.coop" target="_blank">noesya</a> • 
  <a href="https://www.github.com/noesya/oudopo" target="_blank">Code source sur Github</a> • 
  <a href="https://github.com/noesya/oudopo/blob/main/LICENSE" target="_blank">Licence GPL</a> • 
  2023
</footer>
