<nav class="navbar navbar-expand-md mb-5" aria-label="Fourth navbar example">
  <%= link_to root_path do %>
    <%= image_tag 'logo.svg', width: 250 %>
  <% end %>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbar">
    <%= render_navigation %>
  </div>
</nav>